# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Secrets / env
.env
*.env
application-local.yml
application-secrets.yml

# Áudios de teste
*.mp3
*.wav
!docs/samples/*.mp3
